@import '../../styles/variables';

.container {
  margin-bottom: $spacing-small;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.image {
  height: 20rem;
  width: 28rem;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  &::after {
    content: 'Fullscreen';
    font-family: 'Dancing Script', cursive;
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  &:hover::after {
    transition: opacity 0.2s ease;
    opacity: 1;
  }
}


.full {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5)
}

.imageFull {
  width: 100%;

  &::after {
    content: none;
  }
}

