@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding-top: $mobile-nav-height;
}

.cta {
  padding: 1rem 1.5rem;
  background: none;
  outline: none;
  border: 1px solid $dark;
}

.section {
  padding: $spacing-small;
  font-size: 1.6rem;

  &__title {
    text-align: center;
    margin-bottom: $spacing-small;
  }
}
