@import '../../styles/variables.scss';

.navMenu {
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: -1;
  padding: $mobile-nav-height $spacing-small $spacing-small;
  list-style-type: none;
  transition: opacity 0.2s ease, transform 0.2s 0.2s ease;
  transform: translateY(-100%);
  opacity: 0;
  color: $dark;
}

.opened {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.2s 0.2s ease, transform 0.2s ease;
}

.navItem {
  border-bottom: 1px solid $secondary;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.navItem:not(:last-child) {
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.activeLink {
  color: $main;
  font-weight: bold;
}
