.mb {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-jc {
  justify-content: center;
}

.flex-jsb {
  justify-content: space-between;
}

.flex-jsa {
  justify-content: space-around;
}

.flex-ac {
  align-items: center;
}

.flex-as {
  align-items: stretch;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
