.padding-small {
  padding: 2rem;
}

.padding-small-x {
  padding: 0 2rem;
}

.padding-small-x-y {
  padding: 2rem 0;
}

.padding-small-top {
  padding-top: 2rem;
}

.padding-small-right {
  padding-right: 2rem;
}

.padding-small-bottom {
  padding-bottom: 2rem;
}

.padding-small-left {
  padding-left: 2rem;
}
