@import '../../styles/variables.scss';

.header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 20rem;
  font-size: 1.6rem;
}

.heading {
  position: absolute;
  left: 2rem;
  bottom: 3rem;
  text-transform: capitalize;

  font-family: 'Dancing Script', cursive;
  line-height: 1;
  font-weight: 300;
  font-size: 2.25em;
  color: $dark;

  margin: 0;
  max-width: 16.5rem;
  opacity: .6;
}


