@import '../../styles/variables.scss';

.gallery {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 28rem;
  margin-bottom: $spacing-small;

  &:last-child {
    margin-bottom: 0;
  }
}
